@import "../../../styles/variables";

:root {
  --toggle-width: 60px;
  --toggle-height: 30px;
  --toggle-border-radius: 35px;
  --toggle-thumb-top: 6px;
  --toggle-thumb-size: 19px;
  --toggle-thumb-left: 8px;
  --toogle-svg-size: 1rem;
  --toggle-svg-right: 0.5rem;
  --toggle-track-x-height: 16px;
  --toggle-track-x-width: 16px;
  --toggle-thumb-left-active: 35px;
}

.react-toggle {
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-border-radius);
  z-index: 10000;

  & * {
    box-shadow: none !important;
  }

  & svg {
    width: var(--toogle-svg-size);
    height: var(--toogle-svg-size);
    & * {
      fill: white;
    }
  }

  .react-toggle-track {
    background-color: var(--dark);
    width: var(--toggle-width);
    height: var(--toggle-height);
  }

  .react-toggle-thumb {
    top: var(--toggle-thumb-top);
    border: 0;
    background-color: white;
    width: var(--toggle-thumb-size);
    height: var(--toggle-thumb-size);
    left: var(--toggle-thumb-left);
  }

  .react-toggle-track-x {
    height: var(--toggle-track-x-height);
    width: var(--toggle-track-x-width);
    right: var(--toggle-svg-right);
  }

  &.react-toggle--checked {
    svg {
      & * {
        fill: var(--dark);
      }
    }
    &:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: white;
    }
    .react-toggle-track {
      background-color: var(--light);
      &:hover:not(.react-toggle--disabled) {
        background-color: white;
      }
    }
    .react-toggle-thumb {
      background-color: var(--dark);
      left: var(--toggle-thumb-left-active);
    }
  }

  .react-toggle-track-check {
    height: var(--toggle-track-x-height);
    width: var(--toggle-track-x-width);
  }
}
