@use "../../../../styles/variables" as v;

.populations-bar-chart {
  font-size: v.$bodyLg;
  .apexcharts-legend-text {
    font-size: 1em !important;
    font-weight: 300 !important;
  }
  .apexcharts-data-labels {
    text {
      font-size: 1em !important;
      font-weight: 700 !important;
    }
  }
  .apexcharts-canvas svg {
    outline: none;
  }
  .apexcharts-datalabels {
    text {
      transform: translateY(0.5em);
    }
  }
  .apexcharts-datalabels-group {
    text {
      fill: v.$darkInk !important;
    }
  }
  .apexcharts-tooltip {
    box-shadow: 0 0.063em 0.125em 0em rgba(0, 0, 0, 0.2);
  }
  .apexcharts-xaxis {
    display: none;
  }
  .apexcharts-yaxis {
    line {
    }
    tspan {
      font-size: 1em;
      font-weight: 300;
    }
  }
}

@media (max-width: 28.75rem) {
  .populations-bar-chart {
    .apexcharts-datalabels,
    .apexcharts-datalabels-group {
      font-size: 0.75em !important;
    }
  }
}

.spread--light {
  .populations-bar-chart {
    .apexcharts-legend-text,
    .apexcharts-text.apexcharts-yaxis-label {
      color: v.$lightInk !important;
    }
    .apexcharts-datalabels-group,
    .apexcharts-data-labels {
      text {
        fill: v.$lightInk !important;
      }
    }
    .apexcharts-yaxis {
      line {
        stroke: v.$lightSheetRaised;
      }
      tspan {
        fill: v.$lightInk;
      }
    }
  }
}

.spread--dark {
  .populations-bar-chart {
    .apexcharts-legend-text,
    .apexcharts-text.apexcharts-yaxis-label {
      color: v.$darkInk !important;
    }
    .apexcharts-datalabels-group,
    .apexcharts-data-labels {
      text {
        fill: v.$darkInk !important;
      }
    }
    .apexcharts-yaxis {
      line {
        stroke: v.$darkSheetRaised;
      }
      tspan {
        fill: v.$darkInk;
      }
    }
  }
}
