.gallery {
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;

  .gallery__content {
    overflow-y: auto;
    margin-top: auto;
    height: calc(100% - 5rem);
    padding-right: 0.5rem;
  }
}
