.image-gallery {
  display: block;
  height: 100%;
  width: 100%;
  .image-gallery-content {
    height: 100%;
    width: 100%;
    .image-gallery-slide-wrapper {
      height: 100%;
      width: 100%;
      .image-gallery-swipe {
        height: 100%;
        width: 100%;
        .image-gallery-slides {
          height: 100%;
          width: 100%;
        }
        .image-gallery-slide {
          height: 100%;
          width: 100%;
          img,
          iframe,
          video {
            padding: 0.1rem;
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .back-btn-text {
    position: absolute;
    right: 0;
    z-index: 10000;
  }
}

.image-gallery-index {
  bottom: initial;
  left: 0;
  right: initial;
  top: 0;
}

.image-gallery-content.fullscreen {
  .image-gallery-slide .image-gallery-image {
    max-height: 100dvh;
  }
}
