.info {
  width: 2rem;
  height: 2rem;
  background-color: var(--dark);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  color: white;
  z-index: 1000;

  &:hover {
    cursor: pointer;
    background-color: var(--darkest);
  }

  &.info-active {
    padding: 0.5rem;
    width: 20rem;
    height: 28.5rem;

    &:hover {
      background-color: var(--dark);
    }

    .info-content {
      opacity: 1;
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
    }

    &:hover {
      cursor: default;
    }

    svg {
      cursor: pointer;
    }
  }

  .title {
    display: flex;

    h3 {
      margin: auto auto auto 0;
    }
  }

  p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    text-align: justify;
  }

  .info-content {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }

  .profile {
    display: flex;
    width: 100%;
    a {
      margin: 0.5rem auto;
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        cursor: pointer;
      }
    }
  }

  .info-content-footer {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;

    svg {
      width: 2.3rem;
      height: 2.3rem;
      padding: 0.3rem;
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .info-icon {
    padding: 0.3rem;
    width: 2rem;
    height: 2rem;
    * {
      fill: white;
    }
  }
}

@media screen and (min-width: 462px) and (max-width: 478px) {
  .info.info-active {
    width: 20rem;
    height: 31rem;
  }
}

@media screen and (min-width: 453px) and (max-width: 462px) {
  .info.info-active {
    width: 20rem;
    height: 31.5rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 453px) {
  .info.info-active {
    width: 20rem;
    height: 32rem;
  }
  .info-content-footer {
    margin-top: 0.5rem !important;
  }
}

@media screen and (min-width: 418px) and (max-width: 425px) {
  .info.info-active {
    width: 20rem;
    height: 33.5rem;
  }
  .info-content-footer {
    margin-top: 0.5rem !important;
  }
}

@media screen and (max-width: 418px) {
  .info.info-active {
    width: 20rem;
    height: auto;
  }
  .info-content-footer {
    margin-top: 0.5rem !important;
  }
}

.dark {
  .info {
    * {
      color: var(--dark);
    }
    .info-icon {
      * {
        fill: var(--dark);
      }
    }
    background-color: var(--light);
  }
}
