@use "../../../../styles/variables.module" as v;
@use "../../../../styles/mixins" as m;

.info-tab-trips {
  padding: 1rem 0;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  display: none;
  &.info-tab-trips--visible {
    display: flex;
  }

  .info-tab-trips__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding-inline: 1.5rem;
    .info-tab-trips__header__buttons {
      display: flex;
      gap: 1rem;
    }
    .position-button {
      width: 2.5rem;
      height: 2.5rem;
      &.position-button--auto-position {
        @include m.set-button-colors(v.$autoPositionButton, v.$autoPositionButtonContent, v.$autoPositionButtonHover);
      }
    }
  }

  .info-tab-trips__year__selector {
    margin: 0 0 0.75rem 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;

    .info-tab-trips__year__button {
      background: transparent;
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      @include m.transition(all, 0.3s, ease-in-out);
      &:active {
        transform: scale(0.98);
      }

      &.info-tab-trips__year__button--active {
        background: v.$visitedButtonContent;
        border-color: v.$visitedButtonContent;
        color: white;

        &:hover {
          background: v.$visitedButtonContent;
          border-color: v.$visitedButtonContent;
          color: white;
        }
      }
    }
  }

  .info-tab-trips__content--grouped {
    overflow-y: auto;
    flex: 1 1 auto;
    min-height: 0;
    padding-bottom: 0.7rem;
    margin-right: 0;
    display: flex;

    .info-tab-trips__year-group {
      display: flex;
      flex: 1;
      width: 100%;
      padding: 0.5rem 1.5rem;
      .info-tab-trips__content {
        margin-right: 0rem;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        overflow: hidden;
        flex-wrap: nowrap;
        max-height: unset;
      }
    }

    &.info-tab-trips__content--overflow {
      margin-right: 0.7rem;
    }
  }
}

.home--light {
  .info-tab-trips__year__button {
    border: 0.1rem solid v.$lightButton;
    color: v.$lightDisabledText;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
      border-color: v.$lightButtonHover;
      color: v.$lightButtonContent;
    }
  }
}

.home--dark {
  .info-tab-trips__year__button {
    border: 0.1rem solid v.$darkButton;
    color: v.$darkDisabledText;
    &:hover {
      background: rgba(255, 255, 255, 0.05);
      border-color: v.$darkButtonHover;
      color: v.$darkButtonContent;
    }
  }
}

.home--mobile,
.home--tablet {
  .info-tab-trips {
    .info-tab-trips__content--overflow {
      margin-right: 0;
    }
  }
}
