.home-template {
  height: inherit;
  width: inherit;
  position: relative;
  .centered {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
