@use "../../../../styles/variables.module" as v;
@use "../../../../styles/mixins" as m;

.info-tab-cities {
  padding: 1rem 0;
  flex-direction: column;
  height: 100%;
  display: none;
  &.info-tab-cities--visible {
    display: flex;
  }

  .info-tab-cities__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding-inline: 1.5rem;
    .info-tab-cities__header__buttons {
      display: flex;
      gap: 1rem;
    }
    .info-tab-cities__position-button {
      width: 2.5rem;
      height: 2.5rem;
      &.info-tab-cities__position-button--auto-position {
        @include m.set-button-colors(
          v.$autoPositionButton,
          v.$autoPositionButtonContent,
          v.$autoPositionButtonHover
        );
      }
    }
  }

  .info-tab-cities__content {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
    color: white;
    margin-right: 0.7rem;
    justify-content: space-evenly;
    gap: 1.2rem 0;
    padding-top: 0.2rem;
    padding-bottom: 0.7rem;
  }
}
