@use "../../../styles/mixins" as m;
@use "../../../styles/variables.module" as v;

.travel-selector {
  display: flex;
  align-items: center;
  height: 2rem;
  @include m.transition(all, 0.3s, ease-in-out);

  .travel-selector__chevron-icon {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    path {
      @include m.transition(all, 0.3s, ease-in-out);
    }
    &.travel-selector__chevron-icon--left {
      transform: rotate(180deg);
    }
    &.travel-selector__chevron-icon--disabled {
      cursor: not-allowed;
    }
  }

  .travel-selector__bar {
    margin: 0 0.5rem;
  }

  .travel-selector__info {
    display: flex;
    p {
      @include m.transition(all, 0.3s, ease-in-out);
    }
    .travel-selector__icon {
      width: auto;
      height: 1.2rem;
      margin-right: 0.4rem;
      path {
        @include m.transition(all, 0.3s, ease-in-out);
      }
      .calendar-0 {
        stroke-width: 60;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .travel-selector__bar {
    display: none;
  }
}

@media screen and (max-width: 473px) {
  .travel-selector {
    display: none;
  }
}

.home--light {
  .travel-selector {
    color: v.$darkLeftBar;
    p {
      color: v.$darkLeftBar;
    }
  }
  .travel-selector__icon {
    .calendar-0,
    .calendar-1 {
      stroke: v.$darkLeftBar;
    }
  }
  .travel-selector__chevron-icon {
    path {
      fill: v.$darkLeftBar;
    }
    &.travel-selector__chevron-icon--disabled {
      path {
        fill: #c2c2c2;
      }
    }
  }
}

.home--dark {
  .travel-selector {
    color: v.$lightLeftBar;
    p {
      color: v.$lightLeftBar;
    }
  }
  .travel-selector__icon {
    .calendar-0,
    .calendar-1 {
      stroke: v.$lightLeftBar;
    }
  }
  .travel-selector__chevron-icon {
    path {
      fill: v.$lightLeftBar;
    }
    &.travel-selector__chevron-icon--disabled {
      path {
        fill: #484848;
      }
    }
  }
}
