@use "../../../styles/mixins" as m;

.gallery-container {
  position: absolute;
  z-index: 1;
  transform: translateX(calc(100% + 3.5rem));
  width: calc(100% - 3.5rem);
  height: 100%;
  // @include m.transition(all, 0.5s, cubic-bezier(0.175, 0.885, 0.32, 1.075));
  @include m.transition(all, 0.3s, ease-in-out);

  &.gallery-container--visible {
    left: 3.5rem;
    transform: translateX(0);
  }

  .box {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 680px) {
  .gallery-container {
    @include m.transition(all, 0.3s, ease-in-out);
    &.gallery-container--visible {
      $margin: 0rem;
      left: $margin;
      top: $margin;
      width: calc(100% - #{$margin * 2});
      height: calc(100% - #{$margin * 2});
    }
    .box {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}
