@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.card {
  border-radius: 1.4rem;
  padding: 1rem;
  &.card--box-shadow {
    box-shadow:
      rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

.home--light {
  .card {
    background-color: v.$lightLeftBar;
  }
}

.home--dark {
  .card {
    background-color: v.$darkLeftBar;
  }
}
