@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.card {
  border-radius: 1rem;
  padding: 1rem;
  &.card--box-shadow {
    box-shadow: 0 0.063rem 0.125rem 0rem rgba(0, 0, 0, 0.2);
  }
}

.home--light {
  .card {
    background-color: v.$lightLeftBar;
  }
}

.home--dark {
  .card {
    background-color: v.$darkLeftBar;
  }
}
