@use "../../../styles/mixins" as m;
@use "../../../styles/variables.module" as v;

.city-card {
  display: flex;
  flex-direction: column;
  height: 16.5rem;
  color: white;
  width: 12.5rem;
  flex-shrink: 0;
  transform: scale(1);
  @include m.transition(all, 0.15s, ease-in-out);
  border-radius: 1rem;
  box-shadow: 0 0.063rem 0.125rem 0rem rgba(0, 0, 0, 0.2);

  &.city-card--hidden {
    display: none;
  }

  &.city-card--no-box-shadow {
    box-shadow: none;
  }

  &.city-card--clickable:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  &.city-card--mobile:hover {
    transform: scale(1);
  }

  .city-card__top {
    height: 100%;
    display: flex;
    .city-card__background {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      border-radius: 1rem;
      @include m.transition(all, 0.15s, ease-in-out);
      img {
        border-radius: 1rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        position: absolute;
        box-shadow: 0 0.063rem 0.125rem 0rem rgba(0, 0, 0, 0.2);
      }
    }
  }

  .city-card__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.1rem;
    h2 {
      line-height: 1.4rem;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
      @include m.transition(all, 0.15s, ease-in-out);
    }
    svg {
      width: 1.6rem;
      height: 1.4rem;
      flex-shrink: 0;
    }
  }

  .city-card__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem 0.9rem;
    margin: 0.5rem;
    margin-top: 0;
    border-radius: 0.625rem;
    backdrop-filter: blur(0.6rem);
    @include m.transition(all, 0.15s, ease-in-out);

    .city-card__title {
      margin-bottom: 0.5rem;
    }

    .travel-card__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.1rem 0;
      p {
        text-transform: capitalize;
        font-size: 0.8rem;
      }
      .travel-card__icon {
        width: 0.9rem;
        height: 0.9rem;
        margin-right: 0.5rem;
      }
    }
  }
}

.home--light {
  .city-card {
    h2 {
      color: v.$darkLeftBar;
    }
    .city-card__background {
      background-color: v.$lightLeftBarOpacityLighter;
    }
    .city-card__content {
      background-color: v.$lightLeftBarOpacity;
      .travel-card__info {
        color: v.$lightAltText;
      }
      .travel-card__icon {
        fill: v.$lightAltText;
      }
    }
  }
}

.home--dark {
  .city-card {
    h2 {
      color: v.$lightLeftBar;
    }
    .city-card__background {
      background-color: v.$darkLeftBarOpacityLighter;
    }
    .city-card__content {
      background-color: v.$darkLeftBarOpacity;
      .travel-card__info {
        color: v.$darkAltText;
      }
      .travel-card__icon {
        fill: v.$darkAltText;
      }
    }
  }
}
