@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.city-card {
  display: flex;
  flex-direction: column;
  height: 15rem;
  color: white;
  width: 12rem;
  flex-shrink: 0;
  transform: scale(1);
  @include m.transition(all, 0.15s, ease-in-out);

  &.city-card--clickable:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .city-card__top {
    border-radius: 1.4rem 1.4rem 0 0;
    height: 100%;
    .city-card__title {
      position: absolute;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      width: 100%;
      h3 {
        text-shadow: 0 0 0.3rem black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      svg {
        width: 1.6rem;
        height: 1.4rem;
        flex-shrink: 0;
      }
    }
    .city-card__background {
      position: absolute;
      height: calc(100% - 3.75rem);
      width: 100%;
      border-radius: 1.4rem 1.4rem 0 0;
      display: flex;
      img {
        border-radius: 1.4rem 1.4rem 0 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        position: absolute;
      }
    }
  }

  .city-card__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0 0 1.4rem 1.4rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    box-shadow: 0 0.15rem 0.2rem 0 rgba(0, 0, 0, 0.4);
    @include m.transition(all, 0.15s, ease-in-out);

    .travel-card__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.2rem 0;
      p {
        text-transform: capitalize;
      }
      .travel-card__icon {
        width: 0.9rem;
        height: 0.9rem;
        margin-right: 0.5rem;
      }
    }
  }
}

.home--light {
  .city-card {
    .city-card__triangle {
      border-bottom: 1.5rem solid v.$lightLeftBar;
    }
    .city-card__content {
      background-color: v.$lightLeftBar;
      .travel-card__info {
        color: v.$darkLeftBar;
      }
      .travel-card__icon {
        fill: v.$darkLeftBar;
      }
    }
    &.city-card--clickable:hover {
      .city-card__content {
        filter: brightness(0.8);
      }
      .city-card__triangle {
        filter: brightness(0.8);
      }
    }
  }
}

.home--dark {
  .city-card {
    .city-card__triangle {
      border-bottom: 1.5rem solid v.$darkLeftBar;
    }
    .city-card__content {
      background-color: v.$darkLeftBar;
      .travel-card__info {
        color: v.$lightLeftBar;
        opacity: 0.8;
      }
      .travel-card__icon {
        fill: v.$lightLeftBar;
        opacity: 0.8;
      }
    }

    &.city-card--clickable:hover {
      .city-card__content {
        filter: brightness(1.2);
      }
      .city-card__triangle {
        filter: brightness(1.2);
      }
    }
  }
}

.home--dark {
  .Anderlecht-0,
  .Berlin-0,
  .Braga-0,
  .London-0,
  .Shirawakago-0,
  .Kanazawa-0,
  .Terni-0,
  .Cefalù-0,
  .Bruges-0 {
    @include m.city-card-background(0.533);
  }
  .Barcelona-0 {
    @include m.city-card-background(0.498);
  }
  .Brussels-0 {
    @include m.city-card-background(0.518);
  }
  .Osaka-0,
  .Nara-0 {
    @include m.city-card-background(0.486);
  }
  .Kyoto-0,
  .Takayama-0,
  .Tokyo-0 {
    @include m.city-card-background(0.521);
  }
  .Porto-0 {
    @include m.city-card-background(0.525);
  }
  .Budapest-0 {
    @include m.city-card-background(0.506);
  }
  .Rome-0 {
    @include m.city-card-background(0.412);
  }
  .Rome-1 {
    @include m.city-card-background(0.459);
  }
  .Genoa-0,
  .Turin-0 {
    @include m.city-card-background(0.529);
  }
  .Imola-0 {
    @include m.city-card-background(0.514);
  }
}

.home--light {
  .Anderlecht-0,
  .Berlin-0,
  .Braga-0,
  .London-0,
  .Shirawakago-0,
  .Kanazawa-0,
  .Terni-0,
  .Cefalù-0,
  .Bruges-0 {
    @include m.city-card-background(0.333);
  }
  .Barcelona-0 {
    @include m.city-card-background(0.298);
  }
  .Brussels-0 {
    @include m.city-card-background(0.318);
  }
  .Osaka-0,
  .Nara-0 {
    @include m.city-card-background(0.286);
  }
  .Kyoto-0,
  .Takayama-0,
  .Tokyo-0 {
    @include m.city-card-background(0.321);
  }
  .Porto-0 {
    @include m.city-card-background(0.325);
  }
  .Budapest-0 {
    @include m.city-card-background(0.306);
  }
  .Rome-0 {
    @include m.city-card-background(0.212);
  }
  .Rome-1 {
    @include m.city-card-background(0.259);
  }
  .Genoa-0,
  .Turin-0 {
    @include m.city-card-background(0.329);
  }
  .Imola-0 {
    @include m.city-card-background(0.314);
  }
}
