@use "../../../styles/mixins" as m;
@use "../../../styles/variables.module" as v;

.city-card {
  display: flex;
  flex-direction: column;
  height: 16.5rem;
  color: white;
  width: 12.5rem;
  flex-shrink: 0;
  transform: scale(1);
  @include m.transition(all, 0.15s, ease-in-out);
  border-radius: 1rem;
  box-shadow: 0 0.063rem 0.125rem 0rem rgba(0, 0, 0, 0.2);

  &.city-card--hidden {
    display: none;
  }

  &.city-card--no-box-shadow {
    box-shadow: none;
  }

  &.city-card--clickable:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  &.city-card--mobile:hover {
    transform: scale(1);
  }

  .city-card__top {
    height: 100%;
    display: flex;
    .city-card__background {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      border-radius: 1rem;
      @include m.transition(all, 0.15s, ease-in-out);
      img {
        border-radius: 1rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        position: absolute;
        box-shadow: 0 0.063rem 0.125rem 0rem rgba(0, 0, 0, 0.2);
      }
      .city-card__background-overlay {
        border-radius: 0.95rem;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
      }
      .centered {
        position: absolute;
        width: 100%;
        height: 10.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .city-card__content {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 1rem;
    margin-top: 0;
    border-radius: 0.625rem;
    @include m.transition(all, 0.15s, ease-in-out);
    .city-card__title {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 0.5rem;
      h2 {
        font-size: 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        @include m.transition(all, 0.3s, ease-in-out);
        text-shadow: 0.125rem 0.125rem 0.4rem rgba(0, 0, 0, 1);
      }
    }
    .city-card__country {
      padding-block: 0.1rem;
      width: 1.6rem;
      height: 1.625rem;
      flex-shrink: 0;
      position: absolute;
      top: 0.65rem;
      right: 0.65rem;
    }

    .travel-card__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.1rem 0;
      color: v.$darkAltText;
      p {
        text-transform: capitalize;
        font-weight: 300;
        font-size: 0.9rem;
        text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 1);
      }
      .travel-card__icon {
        width: auto;
        height: 0.85rem;
        margin-right: 0.3rem;
        .calendar-0,
        .calendar-1 {
          stroke: v.$darkAltText;
        }
        .calendar-0 {
          stroke-width: 60;
        }
      }
    }
  }
}

.home--light {
  .city-card {
    .city-card__background {
      background-color: v.$lightLeftBarOpacityLighter;
    }
    .city-card__background-overlay {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(30, 30, 30, 0.4) 75%,
        rgba(30, 30, 30, 0.7) 100%
      );
    }
  }
}

.home--dark {
  .city-card {
    .city-card__background {
      background-color: v.$darkLeftBarOpacityLighter;
    }
    .city-card__background-overlay {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(30, 30, 30, 0.5) 75%,
        rgba(30, 30, 30, 0.8) 100%
      );
    }
  }
}
