@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.country-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  padding: 1rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  background-color: #000000;
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.4);

  .country-card__content,
  .country-card__header {
    opacity: 1;
  }

  .country-card__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .country-flag {
      width: 1.8rem;
      height: auto;
      margin-left: 0.5rem;
    }
  }

  &.Italy {
    @include m.country-card-background(
      "https://images.pexels.com/photos/19546814/pexels-photo-19546814/free-photo-of-mare-paesaggio-spiaggia-acqua.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    );
  }

  &.Belgium {
    @include m.country-card-background(
      "https://images.pexels.com/photos/17111341/pexels-photo-17111341/free-photo-of-citta-punto-di-riferimento-edificio-viaggio.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    );
  }

  &.Germany {
    @include m.country-card-background(
      "https://images.pexels.com/photos/1002244/pexels-photo-1002244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    );
  }

  &.Hungary {
    @include m.country-card-background(
      "https://images.pexels.com/photos/2350351/pexels-photo-2350351.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    );
  }

  &.Spain {
    @include m.country-card-background(
      "https://images.pexels.com/photos/3290070/pexels-photo-3290070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    );
  }

  &.UnitedKingdom {
    @include m.country-card-background(
      "https://images.pexels.com/photos/77171/pexels-photo-77171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    );
  }
}
