@use "../../../styles/mixins" as m;

.travel-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.1rem;
  @include m.transition(all, 0.2s, ease-in-out);

  $travelCardRadius: 0.3rem;
  &:nth-child(1) {
    border-radius: $travelCardRadius $travelCardRadius 0 0;
  }
  &:nth-last-child(1) {
    border-radius: 0 0 $travelCardRadius $travelCardRadius;
  }
  &:only-child {
    border-radius: $travelCardRadius;
  }

  &.travel-card--clickable {
    cursor: pointer;
    &:hover {
      background-color: rgba(102, 102, 102, 0.5);
    }
  }

  .travel-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .travel-card__icon {
      width: 0.9rem;
      height: 0.9rem;
      margin-right: 0.5rem;
      fill: white;
    }
  }
}
