@use "../../../styles/variables.module" as v;

.fallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;

    &__title {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    &__subtitle {
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }
    &__message {
      margin-bottom: 0.5rem;
    }
    &__button {
      margin-top: 1.5rem;
      border-radius: 0.25rem;
      height: 2.25rem;
      width: 100%;
      p {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }
}

.fallback--light {
  .fallback__content {
    background-color: v.$lightLeftBar;
    color: v.$darkLeftBar;
  }
}

.fallback--dark {
  .fallback__content {
    background-color: v.$darkLeftBar;
    color: v.$darkButtonContent;
  }
}
