.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 3rem;
  display: flex;
  padding: 0rem 1rem 1rem 1rem;
  overflow: hidden;
  transform: translateY(10vh);
  transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;

  .dropdown-wrapper,
  .react-toggle,
  .info {
    margin-top: auto;
  }

  .react-toggle {
    margin-left: 0.5rem;
  }

  .info {
    margin-right: 0.5rem;
  }

  .info {
    margin-left: auto;
  }

  &.footer-active {
    transform: translateY(0);
  }

  &.footer-dropdown-active {
    height: 100%;
  }
}
