.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.8rem;
  display: flex;
  padding: 0rem 1rem 1rem 1rem;
  overflow: hidden;
  transform: translateY(10vh);
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;

  .dropdown-wrapper,
  .react-toggle {
    margin-top: auto;
  }

  .dropdown-wrapper {
    margin-left: 0.5rem;
  }

  &.footer-active {
    transform: translateY(0);
  }

  &.footer-dropdown-active {
    height: 100%;
  }
}
