@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.button {
  width: auto;
  height: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  flex-shrink: 0;
  svg {
    width: 60%;
    height: 60%;
  }
}

.home--light {
  .button {
    @include m.set-button-colors(
      v.$lightButton,
      v.$lightButtonContent,
      v.$lightButtonHover
    );
  }
}

.home--dark {
  .button {
    @include m.set-button-colors(
      v.$darkButton,
      v.$darkButtonContent,
      v.$darkButtonHover
    );
  }
}
