@use "../../../styles/mixins" as m;
@use "../../../styles/variables.module" as v;

#map-tooltip {
  min-width: 14rem !important;
  border-radius: 0.625rem !important;
  padding: 0 !important;
  box-shadow: 0 0.126rem 0.188rem 0rem rgba(0, 0, 0, 0.2);

  .map-tooltip__backdrop {
    z-index: 0;
    position: absolute;
    &.map-tooltip__backdrop--bottom,
    &.map-tooltip__backdrop--top {
      height: 0.6rem;
      width: 100%;
    }
    &.map-tooltip__backdrop--bottom {
      bottom: -0.6rem;
      margin-top: 0.6rem;
    }
    &.map-tooltip__backdrop--top {
      top: -0.6rem;
      margin-bottom: 0.6rem;
    }
    &.map-tooltip__backdrop--right,
    &.map-tooltip__backdrop--left {
      height: 100%;
      width: 0.6rem;
    }
    &.map-tooltip__backdrop--left {
      left: -0.6rem;
      margin-right: 0.6rem;
    }
    &.map-tooltip__backdrop--right {
      right: -0.6rem;
      margin-left: 0.6rem;
    }
  }
  .map-tooltip__metadata {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0.25rem;
    .map-tooltip__metadata__item {
      display: flex;
      align-items: center;
      margin-top: 0.4rem;
      .map-tooltip__metadata__icon {
        width: auto;
        height: 1rem;
        flex-shrink: 0;
        margin-right: 0.4rem;
      }
      p {
        font-size: 1rem;
      }
      .currency-row__symbol {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 0.25rem;
      }
    }
  }
  .map-tooltip__container {
    padding: 0.75rem 1rem;
    .map-tooltip__header {
      display: flex;
      justify-content: space-between;
      padding-top: 0.2rem;
      h2 {
        font-size: 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        @include m.transition(all, 0.15s, ease-in-out);
      }
      svg {
        width: 1.6rem;
        height: 1.625rem;
        flex-shrink: 0;
        margin-left: 0.5rem;
        padding-block: 0.1rem;
      }
    }
    .map-tooltip__divider {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.25rem;
      padding: 0.75rem;
      .map-tooltip__content {
        .map-tooltip__content__travels {
          display: flex;
          flex-direction: column;
          .map-tooltip__content__travels__title {
            font-size: 1rem;
            font-weight: 600;
          }
          .map-tooltip__content__travels__selector {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.9rem;
            .map-tooltip__content__chevron-icon {
              width: 0.9rem;
              height: 0.9rem;
              flex-shrink: 0;
              cursor: pointer;
              &.map-tooltip__content__chevron-icon--left {
                transform: rotate(180deg);
              }
              &.map-tooltip__content__chevron-icon--disabled {
                cursor: not-allowed;
              }
            }
            .map-tooltip__content__travel {
              display: flex;
              margin: 0 0.5rem;
              p {
                text-transform: capitalize;
                font-size: 0.9rem;
                white-space: nowrap;
                font-weight: 600;
              }
              .map-tooltip__content__travel__icon {
                width: auto;
                height: 1rem;
                margin-right: 0.4rem;
                path {
                  @include m.transition(all, 0.3s, ease-in-out);
                }
                .calendar-0 {
                  stroke-width: 60;
                }
              }
            }
          }
        }
      }
      .map-tooltip__footer {
        margin-top: 0.9rem;
        .map-tooltip__footer__button {
          padding-inline: 0.75rem;
          border-radius: 0.25rem;
          height: 2.25rem;
          width: 100%;
          p {
            font-size: 0.9rem;
            font-weight: 500;
          }
          svg {
            width: 0.8rem;
            height: 0.8rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  .react-tooltip-arrow {
    z-index: -1;
  }
}

.body--light {
  #map-tooltip {
    color: v.$darkLeftBar;
    background-color: v.$lightLeftBarOpacity;
    backdrop-filter: blur(0.6rem);
  }
  .map-tooltip__content__travel {
    color: v.$darkLeftBar;
  }
  .map-tooltip__content__travel__icon {
    .calendar-0,
    .calendar-1 {
      stroke: v.$darkLeftBar;
    }
  }
  .map-tooltip__content__chevron-icon {
    path {
      fill: v.$darkLeftBar;
    }
    &.map-tooltip__content__chevron-icon--disabled {
      path {
        fill: #c2c2c2;
      }
    }
  }
  .map-tooltip__divider {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.body--dark {
  #map-tooltip {
    background-color: v.$darkLeftBarOpacity;
    backdrop-filter: blur(0.6rem);
    color: v.$lightLeftBar;
    .map-tooltip__content__travel {
      color: v.$darkAltText;
    }
    .map-tooltip__content__travel__icon {
      .calendar-0,
      .calendar-1 {
        stroke: v.$darkAltText;
      }
    }
    .map-tooltip__content__chevron-icon {
      path {
        fill: v.$darkAltText;
      }
      &.map-tooltip__content__chevron-icon--disabled {
        path {
          fill: #484848;
        }
      }
    }
  }
  .map-tooltip__divider {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
