@use "../../../styles/mixins" as m;
@use "../../../styles/variables.module" as v;

.map-tooltip {
  border-radius: 1rem !important;
  padding: 0 !important;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  .map-tooltip__backdrop {
    z-index: 0;
    position: absolute;
    &.map-tooltip__backdrop--bottom,
    &.map-tooltip__backdrop--top {
      height: 0.6rem;
      width: 100%;
    }
    &.map-tooltip__backdrop--bottom {
      bottom: -0.6rem;
      margin-top: 0.6rem;
    }
    &.map-tooltip__backdrop--top {
      top: -0.6rem;
      margin-bottom: 0.6rem;
    }
    &.map-tooltip__backdrop--right,
    &.map-tooltip__backdrop--left {
      height: 100%;
      width: 0.6rem;
    }
    &.map-tooltip__backdrop--left {
      left: -0.6rem;
      margin-right: 0.6rem;
    }
    &.map-tooltip__backdrop--right {
      right: -0.6rem;
      margin-left: 0.6rem;
    }
  }

  .map-tooltip__container {
    padding: 0.8rem 1.2rem;
    .map-tooltip__header {
      display: flex;
      justify-content: space-between;
      h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      svg {
        width: 1.6rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-left: 1rem;
      }
    }
    .map-tooltip__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.8rem;
      .map-tooltip__content__chevron-icon {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        &.map-tooltip__content__chevron-icon--left {
          transform: rotate(180deg);
        }
        &.map-tooltip__content__chevron-icon--disabled {
          cursor: not-allowed;
        }
      }
      .map-tooltip__content__travel {
        display: flex;
        flex-direction: column;
        margin: 0 0.5rem;
        .map-tooltip__content__travel__info {
          display: flex;
          margin: 0.15rem 0.2rem;
          text-transform: capitalize;
          svg {
            width: 1rem;
            height: 1rem;
            margin-right: 0.4rem;
          }
        }
      }
    }
    .map-tooltip__footer {
      margin-top: 0.8rem;
      margin-bottom: 0.3rem;
      .map-tooltip__footer__button {
        border-radius: 0.75rem;
        height: 2rem;
        width: 100%;
        svg {
          width: 0.8rem;
          height: 0.8rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .react-tooltip-arrow {
    z-index: -1;
  }
}

.home--light {
  .map-tooltip {
    color: v.$darkLeftBar;
    background-color: v.$lightLeftBarOpacity;
    backdrop-filter: blur(0.6rem);
  }
  .map-tooltip__content__travel {
    color: v.$lightAltText;
  }
  .map-tooltip__content__travel__icon {
    fill: v.$lightAltText;
  }
  .map-tooltip__content__chevron-icon {
    path {
      fill: v.$darkLeftBar;
    }
    &.map-tooltip__content__chevron-icon--disabled {
      path {
        fill: #c2c2c2;
      }
    }
  }
}

.home--dark {
  .map-tooltip {
    background-color: v.$darkLeftBarOpacity;
    backdrop-filter: blur(0.6rem);
    color: v.$lightLeftBar;
  }
  .map-tooltip__content__travel {
    color: v.$darkAltText;
  }
  .map-tooltip__content__travel__icon {
    fill: v.$darkAltText;
  }
  .map-tooltip__content__chevron-icon {
    path {
      fill: v.$darkAltText;
    }
    &.map-tooltip__content__chevron-icon--disabled {
      path {
        fill: #484848;
      }
    }
  }
}
