@-webkit-keyframes backInUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(1200px) scale(0.7);
    transform: translateY(1200px) scale(0.7);
  }

  80% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes backInUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(1200px) scale(0.7);
    transform: translateY(1200px) scale(0.7);
  }

  80% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes backOutDown {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(700px) scale(0.7);
    transform: translateY(700px) scale(0.7);
  }
}

@keyframes backOutDown {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(700px) scale(0.7);
    transform: translateY(700px) scale(0.7);
  }
}
