@use "../../../styles/mixins" as m;
@use "../../../styles/variables.module" as v;
@use "sass:map";

$continents-colors: (
  "Africa": v.$continentsAfrica,
  "Asia": v.$continentsAsia,
  "Europe": v.$continentsEurope,
  "NorthAmerica": v.$continentsNorthAmerica,
  "Oceania": v.$continentsOceania,
  "SouthAmerica": v.$continentsSouthAmerica,
);

@mixin continent-row($continent) {
  &.continent-row--#{$continent} {
    .continent-row__circle--visited {
      background-color: map.get($continents-colors, $continent);
    }
  }
}

.continent-row {
  align-items: center;
  padding: 0.2rem 0.5rem;
  @include m.transition(all, 0.3s, ease-in-out);
  .continent-row__name {
    font-weight: 300;
  }
  .continent-row__circle {
    $size: 0.8rem;
    width: $size;
    height: $size;
    margin-right: 0.3rem;
    border-radius: 50%;
    background-color: gray;
    flex-shrink: 0;
  }
  @include continent-row("Africa");
  @include continent-row("Asia");
  @include continent-row("Europe");
  @include continent-row("NorthAmerica");
  @include continent-row("Oceania");
  @include continent-row("SouthAmerica");
}

.home--light {
  .continent-row {
    color: v.$darkLeftBar;
  }
}

.home--dark {
  .continent-row {
    color: v.$lightLeftBar;
  }
}
