@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

$continents-colors: (
  "Africa": v.$continentsAfrica,
  "Asia": v.$continentsAsia,
  "Europe": v.$continentsEurope,
  "NorthAmerica": v.$continentsNorthAmerica,
  "Oceania": v.$continentsOceania,
  "SouthAmerica": v.$continentsSouthAmerica,
);

@mixin continent-row($continent) {
  &.continent-cities-row--#{$continent} {
    background-color: map-get($continents-colors, $continent);
    .continent-cities-row__cities {
      background-color: darken(map-get($continents-colors, $continent), 12.5%);
    }
  }
}

.continent-cities-row {
  display: flex;
  padding: 0.25rem 0.5rem 0.25rem 0.75rem;
  border-radius: 0.6rem;
  align-items: center;
  color: v.$lightLeftBar;
  @include m.transition(all, 0.3s, ease-in-out);

  @include continent-row("Africa");
  @include continent-row("Asia");
  @include continent-row("Europe");
  @include continent-row("NorthAmerica");
  @include continent-row("Oceania");
  @include continent-row("SouthAmerica");

  .continent-cities-row__name {
    font-weight: 700;
    font-size: 0.8rem;
    @include m.transition(all, 0.3s, ease-in-out);
  }
  .continent-cities-row__cities {
    $size: 1.3rem;
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4rem;
    border-radius: 2rem;
    font-weight: 800;
    flex-shrink: 0;
    font-size: 0.7rem;
    @include m.transition(all, 0.3s, ease-in-out);
  }
}

.home--light {
  .continent-cities-row {
    color: v.$darkLeftBar;
    .continent-cities-row__name,
    .continent-cities-row__cities {
      color: v.$lightLeftBar;
    }
    &.continent-cities-row--empty {
      background-color: v.$lightInfoTab;
      .continent-cities-row__name {
        color: v.$darkLeftBar;
      }
      .continent-cities-row__cities {
        color: v.$darkLeftBar;
        background-color: v.$lightLeftBar;
      }
    }
  }
}

.home--dark {
  .continent-cities-row {
    color: v.$lightLeftBar;
    .continent-cities-row__name,
    .continent-cities-row__cities {
      color: v.$lightLeftBar;
    }
    &.continent-cities-row--empty {
      background-color: v.$darkInfoTab;
      .continent-cities-row__cities {
        background-color: v.$darkLeftBar;
      }
    }
  }
}
