@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

$continents-colors: (
  "Africa": v.$continentsAfrica,
  "Asia": v.$continentsAsia,
  "Europe": v.$continentsEurope,
  "NorthAmerica": v.$continentsNorthAmerica,
  "Oceania": v.$continentsOceania,
  "SouthAmerica": v.$continentsSouthAmerica,
);

@mixin continent-row($continent) {
  &.continent-row--#{$continent} {
    .continent-row__circle--visited {
      background-color: map-get($continents-colors, $continent);
    }
  }
}

.continent-row {
  align-items: center;
  padding: 0.2rem 0.5rem;
  .continent-row__circle {
    $size: 0.7rem;
    width: $size;
    height: $size;
    margin-left: 0.4rem;
    border-radius: 50%;
    background-color: gray;
    flex-shrink: 0;
  }
  @include continent-row("Africa");
  @include continent-row("Asia");
  @include continent-row("Europe");
  @include continent-row("NorthAmerica");
  @include continent-row("Oceania");
  @include continent-row("SouthAmerica");
}

.home--light {
  .continent-row {
    color: v.$darkLeftBar;
  }
}

.home--dark {
  .continent-row {
    color: v.$lightLeftBar;
  }
}
