@use "../../../styles/variables.module" as v;
@use "../../../styles/mixins" as m;

.transport-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  .transport-row__cities {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    .transport-row__cities__city {
      display: flex;
      align-items: center;
      margin-block: 0;
      font-size: 1.1rem;
      font-weight: 500;
      svg {
        width: 1rem;
        height: 1rem;
        margin-right: 0.3rem;
      }
    }
    .transport-row__icon {
      width: 1rem;
      height: 1rem;
      rotate: 90deg;
      margin-inline: 0.5rem;
    }
  }
  .transport-row__distance {
    font-size: 1.1rem;
    font-weight: 800;
  }
}

.home--light {
  .transport-row {
    .transport-row__distance,
    b,
    p {
      color: v.$darkLeftBar;
      @include m.transition(all, 0.3s, ease-in-out);
    }
  }
}

.home--dark {
  .transport-row {
    .transport-row__distance,
    b,
    p {
      color: v.$lightLeftBar;
      @include m.transition(all, 0.3s, ease-in-out);
    }
  }
}

@media (max-width: 460px) {
  .transport-row {
    justify-content: center;
  }
}
