@use "../../../../styles/variables" as v;

.currency-row {
  display: flex;
  align-items: center;
  font-size: v.$bodySm;

  .currency-row__flag {
    width: 1.0625rem;
    height: 1.0625rem;
    margin-right: v.$space2;
  }

  .currency-row__symbol {
    margin-left: v.$space2;
    font-weight: 700;
  }
}

.spread--light .currency-row {
  b,
  p {
    color: v.$lightInk;
  }
}

.spread--dark .currency-row {
  b,
  p {
    color: v.$darkInk;
  }
}
