@use "../../../../styles/variables" as v;
@use "sass:map";

$continents-colors: (
  "AFRICA": v.$continentsAfrica,
  "ASIA": v.$continentsAsia,
  "EUROPE": v.$continentsEurope,
  "NORTH_AMERICA": v.$continentsNorthAmerica,
  "OCEANIA": v.$continentsOceania,
  "SOUTH_AMERICA": v.$continentsSouthAmerica,
  "ANTARCTICA": v.$continentsAntarctica,
);

@mixin continent-row($continent) {
  &.continent-row--#{$continent} {
    .continent-row__circle--visited {
      background-color: map.get($continents-colors, $continent);
    }
  }
}

.continent-row {
  display: flex;
  align-items: center;
  gap: v.$space2;
  padding: v.$space1 0;

  .continent-row__name {
    font-size: v.$bodySm;
    font-weight: 500;
  }

  .continent-row__circle {
    width: 0.5rem;
    height: 0.5rem;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--not-visited-color);
  }
  @include continent-row("AFRICA");
  @include continent-row("ASIA");
  @include continent-row("EUROPE");
  @include continent-row("NORTH_AMERICA");
  @include continent-row("OCEANIA");
  @include continent-row("SOUTH_AMERICA");
}

.spread--light {
  .continent-row {
    color: v.$lightInkMuted;
  }
}

.spread--dark {
  .continent-row {
    color: v.$darkInkMuted;
  }
}
