:root {
  --current-language-size: 1.5rem;
  --language-margin-left-icon: 0rem;
  --language-svg-size: 1.1rem;
}

.dropdown-wrapper {
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-border-radius);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  background-color: var(--dark);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--darkest);
  }

  .current-language {
    display: flex;
    svg {
      margin: auto 0;
      margin-left: var(--language-margin-left-icon);
      width: var(--current-language-size);
      height: var(--current-language-size);
    }
  }

  .language-icon {
    width: var(--language-svg-size);
    height: var(--language-svg-size);
    fill: var(--light);
    stroke: var(--light);
    stroke-width: 0.5;
    margin: auto 5px auto 6px;
    cursor: pointer;
    opacity: 1;
  }

  .menu {
    height: 65px;
    width: 100px;
    font-size: 0.9rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    transition: all 0.2s ease-in-out;
    background-color: var(--menu-color);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.7);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    transform: translateY(10px);
  }

  .menu.active {
    transform: translateY(0px);
    opacity: 1;
  }

  .menu-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--menu-color);

    &:hover {
      background-color: var(--menu-item-hover-color);
    }

    &.active {
      background-color: var(--menu-item-active-color);
      color: white;
      cursor: default;
    }

    svg {
      margin: auto 0 auto 0.4rem;
      width: 1rem;
      height: 1rem;
    }
  }
}

.dark {
  .dropdown-wrapper {
    background-color: var(--light);
    .language-icon {
      fill: var(--dark);
      stroke: var(--dark);
    }
  }
}
