@import "../toggle/Toggle.scss";
@import "../../../styles/variables";

:root {
  --current-language-size: 1rem;
  --language-svg-size: 0.9rem;
  --language-margin-left-icon: 0;
}

@media screen and (max-width: 768px) {
  :root {
    --current-language-size: 1.5rem;
    --language-margin-left-icon: 0rem;
    --language-svg-size: 1.1rem;
  }
}

.dropdown-wrapper {
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-border-radius);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  background-color: var(--dark);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--darkest);
  }

  .current-language {
    display: flex;
    svg {
      margin: auto 0;
      margin-left: var(--language-margin-left-icon);
      width: var(--current-language-size);
      height: var(--current-language-size);
    }
  }

  .language-icon {
    width: var(--language-svg-size);
    height: var(--language-svg-size);
    fill: var(--light);
    stroke: var(--light);
    stroke-width: 0.5;
    margin: auto 5px auto 6px;
    cursor: pointer;
    opacity: 1;
  }

  .menu {
    height: 65px;
    width: 100px;
    font-size: 0.9rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 3.1rem;
    bottom: 3.2rem;
    transition: all 0.2s ease-in-out;
    background-color: var(--menu-color);
    box-shadow: var(--tooltip-box-shadow);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    transform: translateY(10px);
  }

  .menu.active {
    transform: translateY(0px);
    opacity: 1;
  }

  .menu-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--menu-color);

    &:hover {
      background-color: var(--menu-item-hover-color);
    }

    &.active {
      background-color: var(--menu-item-active-color);
      color: white;
    }

    svg {
      margin: auto 0 auto 0.4rem;
      width: 1rem;
      height: 1rem;
    }
  }
}

.dark {
  .dropdown-wrapper {
    background-color: var(--light);
    .language-icon {
      fill: var(--dark);
      stroke: var(--dark);
    }
  }
}

/**.dropdown-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto 0 1rem 5rem;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-border-radius);
  transition: transform 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: var(--dropdown-color);
  cursor: pointer;
  z-index: 1000;
  display: flex;

  .current-language {
    display: flex;
    svg {
      margin: auto 0;
      width: 1rem;
      height: 1rem;
    }
  }

  &.hidden {
    transform: translate(0, 100px);
  }

  &:hover {
    background-color: var(--dropdown-color-hover);
  }

  .language-icon {
    width: 0.9rem;
    height: 0.9rem;
    fill: var(--dropdown-icon-color);
    stroke: var(--dropdown-icon-color);
    stroke-width: 0.5;
    margin: auto 5px auto 6px;
    cursor: pointer;
    opacity: 1;
    transition: fill 0.3s ease-in-out;
  }

  .menu {
    height: 65px;
    width: 100px;
    font-size: 0.9rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 3.5rem;
    bottom: 4rem;
    transition: all 0.2s ease-in-out;
    background-color: var(--menu-color);
    box-shadow: var(--tooltip-box-shadow);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    transform: translateY(10px);
  }

  .menu.active {
    opacity: 1;
    transform: translateY(0px);
  }

  .menu-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--menu-color);

    &:hover {
      background-color: var(--menu-item-hover-color);
    }

    &.active {
      background-color: var(--menu-item-active-color);
      color: white;
    }

    svg {
      margin: auto 0 auto 0.4rem;
      width: 1rem;
      height: 1rem;
    }
  }
}
*/
