@use "variables" as v;

:export {
  modePlane: v.$modePlane;
  modeFerry: v.$modeFerry;
  modeTrain: v.$modeTrain;
  modeCar: v.$modeCar;
  modeBus: v.$modeBus;
  modeTaxi: v.$modeTaxi;
  modeWalk: v.$modeWalk;

  mark: v.$mark;
  markOnDark: v.$markOnDark;

  lightGround: v.$lightGround;
  lightInk: v.$lightInk;
  lightRule: v.$lightRule;

  darkGround: v.$darkGround;
  darkInk: v.$darkInk;
  darkRule: v.$darkRule;
}
