.rsm-marker {
  --marker-color: rgb(190, 0, 0);
  --marker-color-active: #ff4040;
  --marker-circle-color: white;
  --marker-transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  g {
    transition: var(--marker-transition);
    path {
      fill: var(--marker-color);
    }
    circle {
      fill: var(--marker-circle-color);
    }
  }
  .marker-icon--hovered {
    path {
      fill: var(--marker-color-active);
      stroke: white;
      stroke-width: 0.063rem;
    }
  }
  .marker-icon--future {
    path {
      fill: #0d47a1;
    }
    &.marker-icon--hovered {
      path {
        fill: #1862d2;
      }
    }
  }
}
