@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

.home--dark {
  --not-visited-color: #dadada;
}

.home--light {
  --not-visited-color: #dadada;
}

@mixin not-visited($continent, $id) {
  &.#{$continent}--not-visited {
    ##{$id} {
      * {
        fill: var(--not-visited-color) !important;
      }
    }
  }
}

.info-tab-stats {
  padding: 1rem 0;
  flex-direction: column;
  height: 100%;
  display: none;
  &.info-tab-stats--visible {
    display: flex;
  }

  .info-tab-stats__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding-inline: 1.5rem;
  }

  .info-tab-stats__content {
    display: flex;
    max-height: 100%;
    overflow-y: auto;
    margin-right: 0.7rem;
    gap: 1.2rem 0;
    padding: 0 1rem 0.7rem 1.6rem;
    h2 {
      margin-bottom: 0.8rem;
    }
    .info-tab-stats__card--continents {
      position: relative;
      flex-direction: column;
      padding: 0;
      .info-tab-stats__card__main {
        padding: 1rem;
        p,
        b,
        h3 {
          color: white;
        }
        .continents__title {
          margin: 0;
          margin-bottom: 0.75rem;
        }
        .continents__wrap {
          margin-top: -1rem;
        }
      }
      .continents__icon {
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        @include not-visited("africa", "Africa");
        @include not-visited("asia", "Asia");
        @include not-visited("europe", "Europe");
        @include not-visited("north-america", "NorthAmerica");
        @include not-visited("oceania", "Oceania");
        @include not-visited("south-america", "SouthAmerica");
      }
      .info-tab-stats__card__row {
        margin-bottom: 1rem;
        padding-inline: 1rem;
        @include m.transition(all, 0.3s, ease-in-out);
        h4 {
          margin-top: 0.8rem;
          margin-bottom: 0.4rem;
        }
        .continents__cities__wrap,
        .continents__countries__wrap {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: center;
        }
      }
    }
  }
}

.home--light {
  .home__icon path,
  .marker__icon path {
    stroke: v.$darkLeftBar;
  }
  .info-tab-stats__card__row {
    border-top: 1px solid v.$lightInfoTab;
  }
}

.home--dark {
  .home__icon path,
  .marker__icon path {
    stroke: v.$lightLeftBar;
  }
  .info-tab-stats__card__row {
    border-top: 1px solid v.$darkInfoTab;
  }
}
