@use "../../../../styles/variables.module" as v;
@use "../../../../styles/mixins" as m;

.home--dark {
  --not-visited-color: #dadada;
}

.home--light {
  --not-visited-color: #dadada;
}

@mixin not-visited($continent, $id) {
  &.#{$continent}--not-visited {
    ##{$id} {
      * {
        fill: var(--not-visited-color) !important;
      }
    }
  }
}

.info-tab-stats {
  padding: 1rem 0;
  flex-direction: column;
  height: 100%;
  display: none;
  &.info-tab-stats--visible {
    display: flex;
  }

  .info-tab-stats__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding-inline: 1.5rem;
  }

  .info-tab-stats__content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    margin-right: 0.7rem;
    gap: 1.2rem 0;
    padding: 0 1rem 0.7rem 1.6rem;
    h2 {
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
      font-weight: 600;
    }
    p,
    b,
    h2,
    h3 {
      @include m.transition(all, 0.3s, ease-in-out);
    }
    .info-tab-stats__cards {
      gap: 1rem;

      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 7.125rem;
        min-width: 7.125rem;
        svg {
          $size: 1.25rem;
          width: $size;
          height: $size;
        }
        .info-tab-stats__card__continents__icon {
          stroke-width: 0;
          path {
            @include m.transition(fill, 0.3s, ease-in-out);
          }
        }
        .info-tab-stats__card__cities__icon {
          path {
            @include m.transition(stroke, 0.3s, ease-in-out);
          }
        }
        .info-tab-stats__card__countries__icon,
        .info-tab-stats__card__flights__icon,
        .info-tab-stats__card__ferries__icon,
        .info-tab-stats__card__media__icon,
        .info-tab-stats__card__timezone-jumped__icon,
        .info-tab-stats__card__unesco__icon {
          path {
            @include m.transition(all, 0.3s, ease-in-out);
          }
        }

        p {
          margin-top: 0.5rem;
        }
        b {
          margin-top: auto;
          font-size: 1.2rem;
          font-weight: 700;
        }
        span {
          margin-top: auto;
          display: flex;
          align-items: center;
          p,
          b {
            margin-top: 0;
          }
          p {
            margin-left: 0.3rem;
          }
        }
      }
    }
    .info-tab-stats__card__timezone-jumped {
      p {
        margin-bottom: 0.9rem;
      }
    }
    .info-tab-stats__card--population {
      padding-bottom: 0;
      padding-left: 0rem;
      p {
        margin-top: 0.5rem;
        margin-bottom: -1rem;
      }
      p,
      h2 {
        padding-left: 1rem;
      }
    }
    .info-tab-stats__card--currency {
      .info-tab-stats__card__currencies {
        justify-content: space-evenly;
      }
      .info-tab-stats__card__row__title {
        margin-bottom: 0.5rem;
      }
    }

    .info-tab-stats__card__flight-companies {
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      margin: 0.75rem 1rem 0.5rem 1rem;
      svg {
        width: auto;
      }
      .flight-company--all_nippon_airways {
        height: 1.25rem;
      }
      .flight-company--volotea {
        height: 1.6rem;
      }
      .flight-company--ryanair {
        height: 1rem;
      }
      .flight-company--easyjet {
        height: 1.1rem;
      }
      .flight-company--wizz_air {
        height: 1.7rem;
      }
      .flight-company--ita_airways {
        height: 1.6rem;
      }
      .flight-company--air_one {
        height: 1.3rem;
      }
      .flight-company--alitalia {
        height: 1.3rem;
      }
      .flight-company--jetstar {
        height: 1.7rem;
      }
      .flight-company--china_eastern_airlines {
        height: 1.5rem;
      }
      .flight-company--virgin_australia {
        height: 1.6rem;
      }
      .flight-company--aeroitalia {
        height: 1.4rem;
      }
    }

    .info-tab-stats__card--continents,
    .info-tab-stats__card--flights,
    .info-tab-stats__card--mileage {
      position: relative;
      flex-direction: column;
      padding: 0;
      .info-tab-stats__card__main {
        padding: 1rem;
        .continents__title {
          margin: 0;
          margin-bottom: 0.75rem;
        }
        .continents__wrap {
          margin-top: -1rem;
        }
      }
      .continents__icon {
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        @include not-visited("africa", "Africa");
        @include not-visited("asia", "Asia");
        @include not-visited("europe", "Europe");
        @include not-visited("north-america", "NorthAmerica");
        @include not-visited("oceania", "Oceania");
        @include not-visited("south-america", "SouthAmerica");
      }
      .info-tab-stats__card__row {
        margin-bottom: 0.9rem;
        padding-inline: 1rem;
        @include m.transition(all, 0.3s, ease-in-out);
        .info-tab-stats__card__row__title {
          margin-top: 0.9rem;
          margin-bottom: 0.6rem;
        }
        .continents__cities__wrap,
        .continents__countries__wrap {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: center;
        }
      }
    }
    .info-tab-stats__card--mileage {
      .info-tab-stats__card__main__total-mileage {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p {
          margin-bottom: 0.25rem;
        }
        b {
          font-size: 1.1rem;
          font-weight: 800;
        }
      }
      .info-tab-stats__card__main__mileage-planets {
        margin-top: 1.5rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .info-tab-stats__card__main__mileage-planets--earth,
        .info-tab-stats__card__main__mileage-planets--moon {
          min-width: none;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            text-align: center;
            padding-inline: 1.5rem;
            margin-block: 0.5rem;
          }
          b {
            margin-top: 0.5rem;
            @include m.transition(all, 0.3s, ease-in-out);
            padding: 0.25rem 0.5rem;
            border-radius: 1rem;
          }
          .info-tab-stats__card__main__mileage-planets__earth-icon,
          .info-tab-stats__card__main__mileage-planets__moon-icon {
            border-radius: 50%;
            z-index: 2;
            $size: 6rem;
            width: $size;
            height: $size;
          }
        }
      }
    }
    .info-tab-stats__card--continents {
      .info-tab-stats__card__row {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.home--light {
  .info-tab-stats {
    .home__icon path,
    .marker__icon path {
      stroke: v.$darkLeftBar;
    }
    .info-tab-stats__card__row {
      border-top: 1px solid v.$lightInfoTab;
    }
    .info-tab-stats__card__main__mileage-planets {
      b {
        border: 0.063rem solid v.$darkLeftBar;
      }
    }
    p,
    b,
    h3 {
      color: v.$darkLeftBar;
    }
    .info-tab-stats__cards {
      .card {
        svg {
          path {
            stroke: v.$darkLeftBar;
          }
        }
        .info-tab-stats__card__continents__icon,
        .info-tab-stats__card__flights__icon,
        .info-tab-stats__card__ferries__icon,
        .info-tab-stats__card__timezone-jumped__icon,
        .info-tab-stats__card__unesco__icon {
          path {
            fill: v.$darkLeftBar;
          }
        }
        .info-tab-stats__card__ferries__icon,
        .info-tab-stats__card__flights__icon {
          path {
            stroke: transparent;
          }
        }
      }
    }
  }
}

.home--dark {
  .info-tab-stats {
    .home__icon path,
    .marker__icon path {
      stroke: v.$lightLeftBar;
    }
    .info-tab-stats__card__row {
      border-top: 1px solid v.$darkInfoTab;
    }
    .info-tab-stats__card__main__mileage-planets {
      b {
        border: 0.063rem solid v.$lightLeftBar;
      }
    }
    p,
    b,
    h3 {
      color: v.$lightLeftBar;
    }
    .info-tab-stats__cards {
      .card {
        svg {
          path {
            stroke: v.$lightLeftBar;
          }
        }
        .info-tab-stats__card__continents__icon,
        .info-tab-stats__card__flights__icon,
        .info-tab-stats__card__ferries__icon,
        .info-tab-stats__card__timezone-jumped__icon,
        .info-tab-stats__card__unesco__icon {
          path {
            fill: v.$lightLeftBar;
          }
        }
        .info-tab-stats__card__ferries__icon,
        .info-tab-stats__card__flights__icon {
          path {
            stroke: transparent;
          }
        }
      }
    }
  }
}
