@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

.home--dark {
  --not-visited-color: #242526;
}

.home--light {
  --not-visited-color: #dadada;
}

@mixin not-visited($continent, $id) {
  &.#{$continent}--not-visited {
    ##{$id} {
      * {
        fill: var(--not-visited-color) !important;
      }
    }
  }
}

.info-tab-stats {
  padding: 1rem 0;
  flex-direction: column;
  height: 100%;
  display: none;
  &.info-tab-stats--visible {
    display: flex;
  }

  .info-tab-stats__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding-inline: 1.5rem;
  }

  .info-tab-stats__content {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
    margin-right: 0.7rem;
    gap: 1.2rem 0;
    padding: 0 1rem 0.7rem 1.6rem;
    h2 {
      margin-bottom: 0.8rem;
      margin-top: 2rem;
    }

    .info-tab-stats__first-column {
      width: 100%;
      h2 {
        margin-top: 0;
      }
      .first-row {
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
        .cities-card {
          background: url("https://pivi-travel-map.b-cdn.net/TravelMap/Backgrounds/General/Beach.jpg")
            no-repeat center center;
        }
        .countries-card {
          background: url("https://pivi-travel-map.b-cdn.net/TravelMap/Backgrounds/General/City.jpg")
            no-repeat center center;
        }
        .continents-card {
          background: url("https://pivi-travel-map.b-cdn.net/TravelMap/Backgrounds/General/Japan.jpg")
            no-repeat center center;
        }
        .countries-card,
        .cities-card,
        .continents-card {
          padding: 2rem 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: v.$darkLeftBar;
          filter: grayscale(30%) brightness(0.9);
          background-size: cover;
          flex: 1;
          b {
            color: white;
            font-size: 2.2rem;
            font-weight: 800;
            text-shadow:
              0 0 0.5rem black,
              0 0 1.5rem black;
          }
          .text {
            margin-top: -0.5rem;
            font-size: 1.3rem;
          }
        }
      }
    }

    .earth-row {
      .earth-card {
        position: relative;
        flex-shrink: 0;
        height: 8rem;
        width: 100%;
        background: url("https://pivi-travel-map.b-cdn.net/TravelMap/Backgrounds/General/Winter.jpg")
          no-repeat center center;
        background-size: cover;
        filter: grayscale(20%);
        .text-container {
          z-index: 2;
          display: flex;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 2rem;
          transform: translateY(-50%);
          width: calc(100% - 10rem);
          text-shadow:
            0 0 0.5rem black,
            0 0 1.5rem black;
          color: white;
          b {
            font-size: 2.2rem;
            font-weight: 800;
          }
          .text {
            font-size: 1.2rem;
            line-height: 1rem;
            margin-left: 0.7rem;
          }
        }
        .earth-card__icon {
          position: relative;
          z-index: 2;
          width: 100%;
          height: 6rem;
          svg {
            width: 6rem;
            height: 6rem;
            position: absolute;
            top: 0;
            right: 0;
          }
          .colored {
            z-index: 1;
          }
          .bw {
            z-index: 2;
            filter: grayscale(70%) brightness(0.8);
          }
        }
      }
    }
    .furthest-city-row {
      .furthest-city__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.5rem;
      }
      .furthest-city__start,
      .furthest-city__end,
      .furthest-city__distance {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .furthest-city__start,
      .furthest-city__end {
        width: 8rem;
        span {
          display: flex;
          align-items: center;
          p {
            margin-right: 0.4rem;
            font-size: 1rem;
          }
          .flag {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
      .marker__icon,
      .home__icon {
        margin-top: 0.8rem;
        width: 2rem;
        height: 2rem;
      }
      .home-icon {
        margin-left: -0.7rem;
      }
      .furthest-city__distance {
        position: relative;
        width: 100%;
        height: 100%;
        b {
          width: 100%;
          text-align: center;
          margin-bottom: 1rem;
          font-size: 1.2rem;
        }
        .border {
          position: absolute;
          left: -1.4rem;
          bottom: 0.9rem;
          width: calc(100% + 2.4rem);
          border-bottom: 0.125rem dashed gray;
        }
        .chevron__icon {
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
          right: -1.65rem;
          rotate: 180deg;
          top: 2.46rem;
          path {
            stroke: gray;
          }
        }
      }
    }
    .continents-row {
      padding-block: 0.5rem;
      .continents__icon {
        width: inherit;
        height: inherit;

        @include not-visited("africa", "Africa");
        @include not-visited("asia", "Asia");
        @include not-visited("europe", "Europe");
        @include not-visited("north-america", "NorthAmerica");
        @include not-visited("oceania", "Oceania");
        @include not-visited("south-america", "SouthAmerica");
      }
      .continents__wrap {
        margin-top: -1rem;
      }
      h3 {
        margin-top: 1rem;
        margin-bottom: 0.4rem;
      }
      .continents__cities__wrap {
        .continent-cities-row {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.home--dark {
  .home__icon path,
  .marker__icon path {
    stroke: v.$lightLeftBar;
  }
}

.home--light {
  .home__icon path,
  .marker__icon path {
    stroke: v.$darkLeftBar;
  }
}
