@use "../../../styles/variables.module" as v;
@use "../../../styles/mixins" as m;

.left-bar {
  height: 100%;
  padding: 2rem 0.5rem;
  width: v.$leftBarWidth;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  @include m.transition(all, 0.3s, ease-in-out);

  .left-bar__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .left-bar__buttons--top {
      height: 12.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .logo-icon {
        cursor: pointer;
        outline: none !important;
      }
    }

    .left-bar__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      .button {
        margin: 0.5rem 0;
      }
      .left-bar__button--visited--active {
        @include m.set-button-colors(
          v.$visitedButton,
          v.$visitedButtonContent,
          v.$visitedButtonHover
        );
      }
      .left-bar__button--future--active {
        @include m.set-button-colors(
          v.$futureButton,
          v.$futureButtonContent,
          v.$futureButtonHover
        );
      }
      .left-bar__button--lived--active {
        @include m.set-button-colors(
          v.$livedButton,
          v.$livedButtonContent,
          v.$livedButtonHover
        );
      }
      .left-bar__button--stats--active {
        @include m.set-button-colors(
          v.$statsButton,
          v.$statsButtonContent,
          v.$statsButtonHover
        );
      }
    }
    .dark-mode-button,
    .button {
      width: 2.5rem;
      height: 2.5rem;
    }
    .dark-mode-button {
      margin-top: 1rem;
    }
  }
}

.home--light {
  .left-bar {
    background-color: v.$lightLeftBar;
    color: v.$darkLeftBar;
  }
}

.home--dark {
  .left-bar {
    background-color: v.$darkLeftBar;
    color: v.$lightLeftBar;
  }
}

@media screen and (max-width: 680px) {
  .left-bar--close {
    transform: translateX(-100%);
  }
}
