@use "variables.module" as v;
@use "mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  background-color: v.$darkBackground;
}

body,
#root {
  height: inherit;
  width: inherit;
  overflow: hidden;
  @include m.transition(background-color, 0.3s, ease-in-out);
}
.body--dark {
  background-color: v.$darkBackground;
}
.body--light {
  background-color: v.$lightBackground;
}

.tooltip {
  border-radius: 0.25rem !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  z-index: 10;
}

.home--light {
  .react-tooltip {
    background-color: v.$lightLeftBar;
    color: v.$darkLeftBar;
  }
}

.home--dark {
  .react-tooltip {
    background-color: v.$darkLeftBar;
    color: v.$lightLeftBar;
  }
}
