@use "variables.module" as v;
@use "mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

html {
  height: 100%;
  width: 100%;
  background-color: v.$darkBackground;
}

body,
#root {
  height: inherit;
  width: inherit;
  overflow: hidden;
  @include m.transition(background-color, 0.3s, ease-in-out);
}
.body--dark {
  background-color: v.$darkBackground;
}
.body--light {
  background-color: v.$lightBackground;
}
