@use "variables.module" as v;

@mixin transition(
  $property,
  $duration: 0.2s,
  $timing: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $property $duration $timing;
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  -ms-transition: $property $duration $timing;
}

@mixin glassmorphism-dark() {
  background: v.$glassBgDark;
  backdrop-filter: blur(v.$glassBlur);
  -webkit-backdrop-filter: blur(v.$glassBlur);
  border: 0.0625rem solid v.$glassBorderDark;
  box-shadow: v.$glassShadowDark;
}

@mixin glassmorphism-light() {
  background: v.$glassBgLight;
  backdrop-filter: blur(v.$glassBlur);
  -webkit-backdrop-filter: blur(v.$glassBlur);
  border: 0.0625rem solid v.$glassBorderLight;
  box-shadow: v.$glassShadowLight;
}

@mixin smooth-shadow($intensity: 1) {
  box-shadow:
    0 #{0.0625rem * $intensity} #{0.125rem * $intensity}
      rgba(0, 0, 0, 0.04 * $intensity),
    0 #{0.125rem * $intensity} #{0.25rem * $intensity}
      rgba(0, 0, 0, 0.04 * $intensity),
    0 #{0.25rem * $intensity} #{0.5rem * $intensity}
      rgba(0, 0, 0, 0.06 * $intensity);
}

@mixin city-card-background($opacity) {
  .city-card__background {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, $opacity),
      rgba(0, 0, 0, 0.1)
    );
  }
}

@mixin set-button-colors($button, $buttonContent, $buttonHover) {
  background-color: $button;
  color: $buttonContent;
  &:hover {
    background-color: $buttonHover;
  }
  svg {
    path,
    line,
    circle {
      @include transition(all, 0.3s);
    }
    fill: $buttonContent;
    .visited-1 {
      stroke: $buttonContent;
    }
    .future-0 {
      stroke: $buttonContent;
    }
    .language-0 {
      fill: $buttonContent;
    }
  }
  .filter__icon {
    path,
    circle {
      fill: $buttonContent;
      stroke: none;
    }
  }
  .chevron path {
    fill: none;
    stroke: $buttonContent;
  }
  #gallery-1,
  #fullscreen-enter path,
  #fullscreen-exit path {
    fill: $buttonContent;
  }
}
