@mixin transition($property, $duration: 0.2s, $timing: ease-in-out) {
  transition: $property $duration $timing;
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  -ms-transition: $property $duration $timing;
}

@mixin city-card-background($opacity) {
  .city-card__background {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, $opacity),
      rgba(0, 0, 0, 0.1)
    );
  }
}

@mixin set-button-colors($button, $buttonContent, $buttonHover) {
  background-color: $button;
  color: $buttonContent;
  &:hover {
    background-color: $buttonHover;
  }
  svg {
    path {
      @include transition(all, 0.3s, ease-in-out);
    }
    fill: $buttonContent;
    .visited-1 {
      stroke: $buttonContent;
    }
    .future-2 {
      stroke: $buttonContent;
    }
    .language-0 {
      fill: $buttonContent;
    }
  }
  .filter__icon {
    path {
      fill: none;
      stroke: $buttonContent;
    }
  }
  .chevron path {
    fill: none;
    stroke: $buttonContent;
  }
  #gallery-1,
  #fullscreen-enter path,
  #fullscreen-exit path {
    fill: $buttonContent;
  }
}
