@use "variables" as v;
@use "mixins" as m;

$scrollbarSize: 0.4rem;
$scrollbarThumbMinLength: 5rem;
::-webkit-scrollbar {
  width: $scrollbarSize;
  height: $scrollbarSize;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  min-height: $scrollbarThumbMinLength;
  min-width: $scrollbarThumbMinLength;
}

@mixin setScrollbar($bg, $bar, $barHover, $barActive, $thumbBorderSize: 0) {
  &::-webkit-scrollbar-track {
    background-color: $bg;
    -webkit-background-clip: text;
    @include m.transition(all, 0.3s);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bar;
    border: $thumbBorderSize solid $bg;
    border-radius: 1rem;
    @include m.transition(all, 0.3s);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $barHover;
    @include m.transition(all, 0.3s);
  }
  &::-webkit-scrollbar-thumb:active {
    background: $barActive;
    @include m.transition(all, 0.3s);
  }
}

.home--light {
  #info-tab {
    @include setScrollbar(
      transparent,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.35)
    );
  }
  #gallery {
    @include setScrollbar(
      transparent,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.35)
    );
  }
}

.home--dark {
  #info-tab {
    @include setScrollbar(
      transparent,
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    );
  }
  #gallery {
    @include setScrollbar(
      transparent,
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    );
  }
}
