@use "variables" as v;
@use "mixins" as m;

$scrollbarSize: 0.4rem;
::-webkit-scrollbar {
  width: $scrollbarSize;
  height: $scrollbarSize;
}
::-webkit-scrollbar-thumb {
  border-radius: $scrollbarSize;
}

@mixin setScrollbar($bg, $bar, $barHover, $barActive) {
  &::-webkit-scrollbar-track {
    background-color: $bg;
    -webkit-background-clip: text;
    @include m.transition(all, 0.3s, ease-in-out);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bar;
    border: 0 solid $bg;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $barHover;
  }
  &::-webkit-scrollbar-thumb:active {
    background: $barActive;
  }
}

.home--light {
  #info-tab {
    @include setScrollbar(
      v.$lightInfoTab,
      v.$darkButton,
      v.$darkInfoTab,
      v.$darkLeftBar
    );
  }
  #gallery {
    @include setScrollbar(
      v.$lightLeftBar,
      v.$darkButton,
      v.$darkInfoTab,
      v.$darkLeftBar
    );
  }
}

.home--dark {
  #info-tab {
    @include setScrollbar(
      v.$darkInfoTab,
      v.$lightButton,
      v.$lightInfoTab,
      v.$lightLeftBar
    );
  }
  #gallery {
    @include setScrollbar(
      v.$darkLeftBar,
      v.$lightButton,
      v.$lightInfoTab,
      v.$lightLeftBar
    );
  }
}
