@use "variables.module" as v;
@use "mixins" as m;

$scrollbarSize: 0.4rem;
$scrollbarThumbMinLength: 5rem;
::-webkit-scrollbar {
  width: $scrollbarSize;
  height: $scrollbarSize;
}
::-webkit-scrollbar-thumb {
  border-radius: $scrollbarSize;
  min-height: $scrollbarThumbMinLength;
  min-width: $scrollbarThumbMinLength;
}

@mixin setScrollbar($bg, $bar, $barHover, $barActive, $thumbBorderSize: 0) {
  &::-webkit-scrollbar-track {
    background-color: $bg;
    -webkit-background-clip: text;
    @include m.transition(all, 0.3s, ease-in-out);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bar;
    border: $thumbBorderSize solid $bg;
    @include m.transition(all, 0.3s, ease-in-out);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $barHover;
    @include m.transition(all, 0.3s, ease-in-out);
  }
  &::-webkit-scrollbar-thumb:active {
    background: $barActive;
    @include m.transition(all, 0.3s, ease-in-out);
  }
}

#gallery {
  $scrollbarSize: 1.5rem;
  &::-webkit-scrollbar {
    width: $scrollbarSize;
    height: $scrollbarSize;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $scrollbarSize;
  }
}

.home--light {
  #info-tab {
    @include setScrollbar(
      v.$lightInfoTab,
      v.$darkButton,
      v.$darkInfoTab,
      v.$darkLeftBar
    );
  }
  #gallery {
    @include setScrollbar(
      v.$lightInfoTab,
      v.$darkButton,
      v.$darkInfoTab,
      v.$darkLeftBar,
      0.55rem
    );
  }
}

.home--dark {
  #info-tab {
    @include setScrollbar(
      v.$darkInfoTab,
      v.$lightButton,
      v.$lightInfoTab,
      v.$lightLeftBar
    );
  }
  #gallery {
    @include setScrollbar(
      v.$darkInfoTab,
      v.$lightButton,
      v.$lightInfoTab,
      v.$lightLeftBar,
      0.55rem
    );
  }
}
