h1 {
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
