$leftBarWidth: 3.5rem;

$lightLeftBar: #ffffff;
$lightLeftBarOpacity: rgba(255, 255, 255, 0.7);
$lightInfoTab: #f5f5f5;
$lightButton: #e4e6eb;
$lightButtonHover: #d8dadf;
$lightButtonContent: #050505;
$lightAltText: #828282;

$darkLeftBar: #242526;
$darkLeftBarOpacity: rgba(36, 37, 38, 0.7);
$darkInfoTab: #2e2f30;
$darkButton: #3a3b3c;
$darkButtonHover: #4e4f50;
$darkButtonContent: #e7e9ed;
$darkAltText: #b0b3b8;

$futureButton: #bbdefb;
$futureButtonHover: #90caf9;
$futureButtonContent: #0d47a1;

$visitedButton: #ffcdd2;
$visitedButtonHover: #ef9a9a;
$visitedButtonContent: #d50000;

$livedButton: #fff9c4;
$livedButtonHover: #fff59d;
$livedButtonContent: #fbc02d;

$languageButton: #ffecb3;
$languageButtonHover: #ffe082;
$languageButtonContent: #f57f17;

$autoPositionButton: #c8e6c9;
$autoPositionButtonHover: #a5d6a7;
$autoPositionButtonContent: #2e7d32;

$filterButton: #f8bbd0;
$filterButtonHover: #f48fb1;
$filterButtonContent: #c2185b;

$statsButton: #e1bee7;
$statsButtonHover: #ce93d8;
$statsButtonContent: #8e24aa;

$continentsAfrica: #f3c75d;
$continentsAsia: #f38caf;
$continentsEurope: #eb6559;
$continentsNorthAmerica: #74c5eb;
$continentsOceania: #fc8d59;
$continentsSouthAmerica: #8ac38b;

:export {
  leftBarWidth: $leftBarWidth;

  lightLeftBar: $lightLeftBar;
  lightLeftBarOpacity: $lightLeftBarOpacity;
  lightInfoTab: $lightInfoTab;
  lightButton: $lightButton;
  lightButtonHover: $lightButtonHover;
  lightButtonContent: $lightButtonContent;
  lightAltText: $lightAltText;

  darkLeftBar: $darkLeftBar;
  darkLeftBarOpacity: $darkLeftBarOpacity;
  darkInfoTab: $darkInfoTab;
  darkButton: $darkButton;
  darkButtonHover: $darkButtonHover;
  darkButtonContent: $darkButtonContent;
  darkAltText: $darkAltText;

  futureButton: $futureButton;
  futureButtonHover: $futureButtonHover;
  futureButtonContent: $futureButtonContent;

  visitedButton: $visitedButton;
  visitedButtonHover: $visitedButtonHover;
  visitedButtonContent: $visitedButtonContent;

  languageButton: $languageButton;
  languageButtonHover: $languageButtonHover;
  languageButtonContent: $languageButtonContent;

  autoPositionButton: $autoPositionButton;
  autoPositionButtonHover: $autoPositionButtonHover;
  autoPositionButtonContent: $autoPositionButtonContent;

  filterButton: $filterButton;
  filterButtonHover: $filterButtonHover;
  filterButtonContent: $filterButtonContent;

  statsButton: $statsButton;
  statsButtonHover: $statsButtonHover;
  statsButtonContent: $statsButtonContent;

  continentsAfrica: $continentsAfrica;
  continentsAsia: $continentsAsia;
  continentsEurope: $continentsEurope;
  continentsNorthAmerica: $continentsNorthAmerica;
  continentsOceania: $continentsOceania;
  continentsSouthAmerica: $continentsSouthAmerica;
}
