$lightLeftBar: #ffffff;
$lightInfoTab: #f5f5f5;
$lightButton: #e4e6eb;
$lightButtonHover: #d8dadf;
$lightButtonContent: #050505;

$darkLeftBar: #242526;
$darkInfoTab: #2e2f30;
$darkButton: #3a3b3c;
$darkButtonHover: #4e4f50;
$darkButtonContent: #e7e9ed;
