@use "variables" as v;

:export {
  leftBarWidth: v.$leftBarWidth;

  lightLeftBar: v.$lightLeftBar;
  lightLeftBarOpacity: v.$lightLeftBarOpacity;
  lightInfoTab: v.$lightInfoTab;
  lightButton: v.$lightButton;
  lightButtonHover: v.$lightButtonHover;
  lightButtonContent: v.$lightButtonContent;
  lightAltText: v.$lightAltText;

  darkLeftBar: v.$darkLeftBar;
  darkLeftBarOpacity: v.$darkLeftBarOpacity;
  darkInfoTab: v.$darkInfoTab;
  darkButton: v.$darkButton;
  darkButtonHover: v.$darkButtonHover;
  darkButtonContent: v.$darkButtonContent;
  darkAltText: v.$darkAltText;

  futureButton: v.$futureButton;
  futureButtonHover: v.$futureButtonHover;
  futureButtonContent: v.$futureButtonContent;

  visitedButton: v.$visitedButton;
  visitedButtonHover: v.$visitedButtonHover;
  visitedButtonContent: v.$visitedButtonContent;

  languageButton: v.$languageButton;
  languageButtonHover: v.$languageButtonHover;
  languageButtonContent: v.$languageButtonContent;

  autoPositionButton: v.$autoPositionButton;
  autoPositionButtonHover: v.$autoPositionButtonHover;
  autoPositionButtonContent: v.$autoPositionButtonContent;

  filterButton: v.$filterButton;
  filterButtonHover: v.$filterButtonHover;
  filterButtonContent: v.$filterButtonContent;

  statsButton: v.$statsButton;
  statsButtonHover: v.$statsButtonHover;
  statsButtonContent: v.$statsButtonContent;

  continentsAfrica: v.$continentsAfrica;
  continentsAsia: v.$continentsAsia;
  continentsEurope: v.$continentsEurope;
  continentsNorthAmerica: v.$continentsNorthAmerica;
  continentsOceania: v.$continentsOceania;
  continentsSouthAmerica: v.$continentsSouthAmerica;
}
