.base-btn {
  font-size: var(--tooltip-content-font-size);
  width: 100%;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  border: var(--button-border);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  button:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--button-background-color-hover);
  }
}

/* Close and Back Button Styles */
.close-btn,
.back-btn {
  cursor: pointer;
  height: var(--close-btn-size);
  width: var(--close-btn-size);
  transition: var(--close-btn-transition);
  path {
    fill: var(--close-btn-fill);
  }
  &:hover {
    path {
      fill: var(--close-btn-fill-hover);
    }
  }
  &:active {
    path {
      fill: var(--close-btn-fill-active);
    }
  }
}

/* Back Button Text Styles */
.back-btn-text {
  width: 6.5rem;
  height: 2rem;
  font-size: 1rem;
  display: flex;
  p {
    margin: auto;
  }
  .back-btn {
    margin: auto;
    width: 1rem;
    height: 1rem;
    path {
      fill: white;
    }
    &:hover {
      path {
        fill: white;
      }
    }
    &:active {
      path {
        fill: white;
      }
    }
  }
}
