* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body,
.root,
.container {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  .box {
    .single-container,
    .all-container {
      grid-area: 1/1/2/2;
      display: block;
      width: 100%;
      height: calc(100dvh - 10dvh - 3rem);
    }
    &.show-single {
      .single-container {
        visibility: visible;
      }
      .react-photo-album {
        visibility: hidden;
      }
    }
    &.show-all {
      .single-container {
        visibility: hidden;
      }
      .all-container {
        visibility: visible;
      }
    }
  }
}

.container {
  display: grid;
  overflow: hidden;
}

body {
  background-color: white;
}

body.dark {
  .container {
    background-color: var(--darker);
  }
  path.not-visited {
    fill: var(--dark);
    stroke: var(--gray-dark);
  }
}
