/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

/* Custom Variables */
:root {
  --marker-color: rgb(190, 0, 0);
  --marker-color-active: #ff0000;
  --marker-circle-color: white;
  --marker-transformation: translate(-5px, -9px);
  --marker-transformation-hover: translate(-8px, -12px);
  --marker-transformation-circle-hover: translate(-1px, -1px);
  --marker-stroke-width: 3;
  --marker-stroke-color: rgb(146, 0, 0);
  --marker-scale: 0.1;
  --marker-scale-hover: 0.12;
  --marker-circle-scale-hover: 1.2;
  --marker-transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  --tooltip-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  --tooltip-title-font-size: 0.9rem;
  --tooltip-title-font-weight: 700;
  --tooltip-title-margin-bottom: 0.2rem;
  --tooltip-content-font-size: 0.8rem;
  --tooltip-content-font-weight: 500;
  --tooltip-margin: 0.2rem;
  --tooltip-title-height: calc(var(--tooltip-title-font-size) * 1.5);

  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 1;

  --button-background-color: #80669d;
  --button-background-color-hover: #9a7bbc;
  --button-color: white;
  --button-border-radius: 0.2rem;
  --button-padding: 0.1rem 0.2rem;
  --button-border: 0;

  --webkit-scrollbar-bg: white;
  --webkit-scrollbar-bar: #b7b7b7;
  --webkit-scrollbar-bar-hover: #9e9e9e;
  --webkit-scrollbar-bar-active: #898989;
  --webkit-scrollbar-border: 8px solid var(--webkit-scrollbar-bg);
  --webkit-scrollbar-size: 1.5rem;

  --box-margin-x: 4rem;
  --box-margin-y: 2rem;
  --box-padding-top: 1.5rem;
  --box-padding-bottom: 2rem;
  --box-padding-y: calc(var(--box-padding-top) + var(--box-padding-bottom));
  --box-padding-x: 2rem;
  --box-padding: var(--box-padding-top) var(--box-padding-x)
    var(--box-padding-bottom) var(--box-padding-x);
  --box-background-color: white;
  --box-border-radius: 0.5rem;
  --box-box-shadow: 0 0 500px rgba(0, 0, 0, 0.8);
  --box-title-height: 2rem;
  --box-title-margin-bottom: 1.5rem;
  --box-title-font-size: 1.5rem;
  --box-content-height: calc(
    100vh - (var(--box-margin-y) * 2) - (var(--box-padding-y)) -
      var(--box-title-height) - var(--box-title-margin-bottom)
  );

  --close-btn-size: 2rem;
  --close-btn-fill: #b7b7b7;
  --close-btn-fill-hover: #9e9e9e;
  --close-btn-fill-active: #898989;
  --close-btn-transition: fill 0.2s ease-in-out;

  --light-color: #d0d0d0;
  --light-color-hover: rgba(255, 255, 255, 1);
  --dark-color: rgba(0, 0, 0, 0.8);
  --dark-color-hover: #1f1f1f;
  --light-icon-color: white;
  --dark-icon-color: #1f1f1f;
  --toggle-width: 50px;
  --toggle-height: 24px;
  --toggle-border-radius: 30px;
  --dropdown-color: var(--dark-color);
  --dropdown-color-hover: var(--dark-color-hover);
  --dropdown-icon-color: var(--light-icon-color);
  --menu-color: var(--rt-color-white);
  --menu-item-hover-color: #d9d9d9;
  --menu-item-active-color: #80669d;
}

/* Dark Mode */
body.dark {
  * {
    --box-background-color: #1f1f1f;
    --webkit-scrollbar-bg: #1f1f1f !important;
    --webkit-scrollbar-border: 8px solid var(--webkit-scrollbar-bg) !important;
    --rt-opacity: 1;
    --rt-color-white: #1f1f1f;
    color: rgb(207, 207, 207);
    --dropdown-color: var(--light-color);
    --dropdown-color-hover: var(--light-color-hover);
    --dropdown-icon-color: var(--dark-icon-color);
    --menu-color: var(--rt-color-dark);
    --menu-item-hover-color: #313131;
    --menu-item-active-color: #80669d;
  }
  .container {
    background-color: #121212;
  }
  path.not-visited {
    fill: #1f1f1f;
    stroke: #3d3d3d;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: var(--webkit-scrollbar-size);
  height: var(--webkit-scrollbar-size);
}

::-webkit-scrollbar-track {
  background-color: var(--webkit-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--webkit-scrollbar-bar);
  border-radius: var(--webkit-scrollbar-size);
  border: var(--webkit-scrollbar-border);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--webkit-scrollbar-bar-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--webkit-scrollbar-bar-active);
}

/* Container Styles */
.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Marker Icon Styles */
.marker-icon {
  transform: var(--marker-transformation);
  path {
    fill: var(--marker-color);
    stroke: var(--marker-stroke-color);
    stroke-width: var(--marker-stroke-width);
    scale: var(--marker-scale);
    transition: var(--marker-transition);
  }
  circle {
    transition: var(--marker-transition);
  }
  &.active path {
    transform: var(--marker-transformation-hover);
    scale: var(--marker-scale-hover);
    opacity: var(--marker-base-opacity-hover);
    fill: var(--marker-color-active);
  }
  &.active circle {
    transform: var(--marker-transformation-circle-hover);
    scale: var(--marker-circle-scale-hover);
    opacity: var(--marker-base-opacity-hover);
  }
}

@-webkit-keyframes backInUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(1200px) scale(0.7);
    transform: translateY(1200px) scale(0.7);
  }

  80% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes backInUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(1200px) scale(0.7);
    transform: translateY(1200px) scale(0.7);
  }

  80% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes backOutDown {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(700px) scale(0.7);
    transform: translateY(700px) scale(0.7);
  }
}

@keyframes backOutDown {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.7);
    transform: translateY(0) scale(0.7);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(700px) scale(0.7);
    transform: translateY(700px) scale(0.7);
  }
}

/* Box Styles */
.box-container {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgba(0, 0, 0, 0.5);

  &.hidden {
    display: none;
  }

  &.closing .box {
    animation: backOutDown 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &.active .box {
    animation: backInUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .box {
    margin: var(--box-margin-y) var(--box-margin-x);
    padding: var(--box-padding);
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    display: flex;
    flex-direction: column;
  }
}

/* Title Styles */
.title {
  height: var(--box-title-height);
  font-size: var(--box-title-font-size);
  margin-bottom: var(--box-title-margin-bottom);
  display: flex;
  p {
    height: var(--box-title-height);
    margin: auto 0 auto 0;
  }
  .flag {
    height: var(--box-title-height);
    width: 3rem;
    margin: auto 0 auto 0.5rem;
  }
  .close-btn {
    margin-left: auto;
  }
}

/* Content Styles */
.content {
  overflow-y: auto;
  height: var(--box-content-height);
  .image-gallery {
    height: var(--box-content-height);
    max-width: calc(
      100vw - (var(--box-margin-x) * 2) - (var(--box-padding) * 2)
    );
    iframe {
      height: var(--box-content-height);
      width: calc(var(--box-content-height) * (16 / 9)) !important;
    }
    & * {
      max-height: var(--box-content-height);
    }
    .back-btn-text {
      right: 0;
      top: 10px;
      bottom: initial;
      position: absolute;
      z-index: 100;
    }
    .image-gallery-index {
      left: 0;
      bottom: 0;
      right: initial;
      top: initial;
    }
  }
}

/* Image Gallery Styles */
.react-photo-album img {
  cursor: pointer;
}

/* Flag Styles */
.flag {
  width: 10px;
  height: 9px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* Button Styles */
.base-btn {
  font-size: var(--tooltip-content-font-size);
  width: 100%;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  border: var(--button-border);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  button:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--button-background-color-hover);
  }
}

/* Close and Back Button Styles */
.close-btn,
.back-btn {
  cursor: pointer;
  height: var(--close-btn-size);
  width: var(--close-btn-size);
  transition: var(--close-btn-transition);
  path {
    fill: var(--close-btn-fill);
  }
  &:hover {
    path {
      fill: var(--close-btn-fill-hover);
    }
  }
  &:active {
    path {
      fill: var(--close-btn-fill-active);
    }
  }
}

/* Back Button Text Styles */
.back-btn-text {
  width: 6.5rem;
  height: 2rem;
  font-size: 1rem;
  display: flex;
  p {
    margin: auto;
  }
  .back-btn {
    margin: auto;
    width: 1rem;
    height: 1rem;
    path {
      fill: white;
    }
    &:hover {
      path {
        fill: white;
      }
    }
    &:active {
      path {
        fill: white;
      }
    }
  }
}

/* Tooltip Styles */
.react-tooltip {
  border-radius: 0.5rem !important;
  box-shadow: var(--tooltip-box-shadow) !important;
  opacity: var(--rt-opacity) !important;

  .title {
    font-size: var(--tooltip-title-font-size);
    font-weight: var(--tooltip-title-font-weight);
    margin-bottom: var(--tooltip-title-margin-bottom);
    display: flex;
    height: var(--tooltip-title-height);
    p {
      margin: auto 0 auto 0;
    }
    svg {
      width: var(--tooltip-title-font-size);
      height: var(--tooltip-title-font-size);
      margin-left: auto;
    }
  }
  .content {
    height: auto;
    margin-bottom: var(--tooltip-margin);
    & > * {
      font-size: var(--tooltip-content-font-size);
      font-weight: var(--tooltip-content-font-weight);
      margin-top: 0rem;
    }
    .start,
    .end,
    .population {
      display: flex;
      p {
        margin-top: auto;
        margin-bottom: auto;
      }
      .flag {
        margin-left: 0;
        margin-right: 0.15rem;
      }
    }
    svg {
      width: var(--tooltip-content-font-size);
      height: var(--tooltip-content-font-size);
    }
  }
  .base-btn {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
  }
}

.react-toggle {
  grid-area: 1 / 1 / 2 / 2;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-border-radius);
  margin: auto 0 1rem 1rem;
  transition: transform 0.2s ease-in-out;

  &.hidden {
    transform: translate(0, 100px);
  }

  & * {
    box-shadow: none !important;
  }

  & svg {
    width: 0.7rem;
    height: 0.7rem;
    & * {
      fill: var(--light-icon-color);
    }
  }

  & .react-toggle-track {
    background-color: var(--dark-color);
    &:hover {
      background-color: var(--dark-color-hover);
    }
  }

  & .react-toggle-thumb {
    top: 4px;
    border: 0;
    background-color: var(--light-icon-color);
    width: 16px;
    height: 16px;
    left: 5px;
  }

  .react-toggle-track-x {
    height: 12px;
  }

  &.react-toggle--checked {
    svg {
      & * {
        fill: var(--dark-icon-color);
      }
    }
    &:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: var(--light-color-hover);
    }
    .react-toggle-track {
      background-color: var(--light-color);
      &:hover:not(.react-toggle--disabled) {
        background-color: var(--light-color-hover);
      }
    }
    .react-toggle-thumb {
      background-color: var(--dark-color);
      left: 29px;
    }
  }

  .react-toggle-track-check {
    height: 12px;
  }
}

.dropdown-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto 0 1rem 5rem;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-border-radius);
  transition: transform 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: var(--dropdown-color);
  cursor: pointer;
  z-index: 1000;
  display: flex;

  .current-language {
    display: flex;
    svg {
      margin: auto 0;
      width: 1rem;
      height: 1rem;
    }
  }

  &.hidden {
    transform: translate(0, 100px);
  }

  &:hover {
    background-color: var(--dropdown-color-hover);
  }

  .language-icon {
    width: 0.9rem;
    height: 0.9rem;
    fill: var(--dropdown-icon-color);
    stroke: var(--dropdown-icon-color);
    stroke-width: 0.5;
    margin: auto 5px auto 6px;
    cursor: pointer;
    opacity: 1;
    transition: fill 0.3s ease-in-out;
  }

  .menu {
    height: 65px;
    width: 100px;
    font-size: 0.9rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 3.5rem;
    bottom: 3rem;
    transition: all 0.2s ease-in-out;
    background-color: var(--menu-color);
    box-shadow: var(--tooltip-box-shadow);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    transform: translateY(10px);
  }

  .menu.active {
    opacity: 1;
    transform: translateY(0px);
  }

  .menu-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--menu-color);

    &:hover {
      background-color: var(--menu-item-hover-color);
    }

    &.active {
      background-color: var(--menu-item-active-color);
      color: white;
    }

    svg {
      margin: auto 0 auto 0.4rem;
      width: 1rem;
      height: 1rem;
    }
  }
}
