* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;

  .marker-icon {
    transform: translate(-5px, -9px);
    path {
      fill: red;
      stroke: white;
      stroke-width: 3;
      scale: 0.1;
    }
  }

  .tooltip {
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 0.5rem;
    padding: 0.3rem 0.4rem;

    .title {
      font-weight: 700;
      font-size: 0.5rem;
      display: flex;
      margin-bottom: 0.2rem;
    }

    .content {
      & > * {
        font-size: 0.45rem;
      }

      .start,
      .end,
      .population {
        display: flex;
        margin-top: 0.06rem;
        font-weight: 500;
        p {
          margin-top: auto;
          margin-bottom: auto;
        }
        .flag {
          margin-left: 0;
          margin-right: 0.15rem;
          width: 9px;
          height: 8px;
        }
      }
    }
  }
}

.flag {
  width: 10px;
  height: 9px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
