/* Marker Icon Styles */
.marker-icon {
  transform: var(--marker-transformation);
  path {
    fill: var(--marker-color);
    stroke: var(--marker-stroke-color);
    stroke-width: var(--marker-stroke-width);
    scale: var(--marker-scale);
    transition: var(--marker-transition);
  }
  circle {
    transition: var(--marker-transition);
  }
  &.active {
    path {
      transform: var(--marker-transformation-hover);
      scale: var(--marker-scale-hover);
      opacity: var(--marker-base-opacity-hover);
      fill: var(--marker-color-active);
    }
    circle {
      transform: var(--marker-transformation-circle-hover);
      scale: var(--marker-circle-scale-hover);
      opacity: var(--marker-base-opacity-hover);
    }
  }
}
