@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.info-tab {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30rem;
  z-index: 1;
  @include m.transition(all, 0.3s, ease-in-out);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);

  &.info-tab--open {
    transform: translateX(v.$leftBarWidth);
  }

  .country-card {
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.home--light {
  .info-tab {
    background-color: v.$lightInfoTab;
    color: v.$darkInfoTab;
  }
}

.home--dark {
  .info-tab {
    background-color: v.$darkInfoTab;
    color: #ffffff;
  }
}

@media screen and (max-width: 540px) {
  .info-tab {
    width: calc(100% - 3.5rem);
  }
}

@mixin info-tab-content($padding, $gap: null, $card-width: null) {
  .info-tab-visited__content,
  .info-tab-future__content {
    padding-inline: $padding !important;
    @if $gap != null {
      gap: $gap !important;
    }
    @if $card-width != null {
      .city-card {
        width: $card-width;
      }
    }
  }
}

@media screen and (min-width: 520px) and (max-width: 540px) {
  @include info-tab-content(1.3rem);
}

@media screen and (min-width: 509px) and (max-width: 520px) {
  @include info-tab-content(1.2rem, 1.2rem 0.8rem);
}

@media screen and (min-width: 500px) and (max-width: 509px) {
  @include info-tab-content(1rem, 1.2rem 0.5rem);
}

@media screen and (min-width: 490px) and (max-width: 500px) {
  @include info-tab-content(1rem, 1.2rem 0.5rem, 11.5rem);
}

@media screen and (min-width: 480px) and (max-width: 490px) {
  @include info-tab-content(0.9rem, 1.2rem 0.5rem, 11.5rem);
}

@media screen and (min-width: 475px) and (max-width: 480px) {
  @include info-tab-content(0.8rem, 1.2rem 0.5rem, 11.5rem);
}

@media screen and (min-width: 470px) and (max-width: 475px) {
  @include info-tab-content(0.8rem, 1.2rem 0.5rem, 11.3rem);
}

@media screen and (max-width: 470px) {
  .info-tab-visited__content,
  .info-tab-future__content {
    justify-content: center !important;
  }
}
