@use "../../../styles/variables.module" as v;
@use "../../../styles/mixins" as m;

.info-tab {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30rem;
  z-index: 1;
  @include m.transition(all, 0.3s, ease-in-out);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  will-change: all;

  &.info-tab--open {
    transform: translateX(v.$leftBarWidth);
  }

  .country-card {
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.home--light {
  .info-tab {
    background-color: v.$lightInfoTab;
    color: v.$darkInfoTab;
  }
}

.home--dark {
  .info-tab {
    background-color: v.$darkInfoTab;
    color: #ffffff;
  }
}

@mixin responsive-info-tab(
  $min-width,
  $max-width,
  $info-tab-width,
  $city-card-width
) {
  @media screen and (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
    .info-tab {
      max-width: $info-tab-width;
      .city-card {
        width: $city-card-width;
      }
    }
  }
}

@include responsive-info-tab(280, 460, 16rem, 12rem);
@include responsive-info-tab(460, 490, calc(100% - 3.5rem), 11.5rem);
@include responsive-info-tab(null, 280, 16rem, 11.5rem);

@media screen and (max-width: 460px) {
  .info-tab-visited__void-city {
    display: none;
  }
}
